packages: [
  "AtomicChar"
  "editorconfig"
  "git-plus"
  "language-jade"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "pigments"
  "project-manager"
  "set-syntax"
  "sort-lines"
  "ssh-config"
  "sublime-default-syntax"
  "Sublime-Style-Column-Selection"
  "synced-sidebar"
  "tidy-markdown"
  "wakatime"
]
